/* LAYOUT:
GLOBAL
HEADER
INTRO
PROJECT
OUTRO
FOOTER  
ANIMATION  */

/* GLOBAL */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Neoneon';
  src: local('Neoneon'), url(./fonts/Neoneon.otf) format('otf');
}
h1, .creator{
  font-family: 'Neoneon';
  font-size: 3rem;
}
h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}
header{
  padding: 1rem 3rem;
  text-align: center;
}
.intro{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 8rem 0;
}
.visualContainer,.intro h2{
  width: 40vw;
}
button, .linkBtn{
  width: 10rem;
  height: 4rem;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-radius: .75rem;
  color: white;
  background: black -35px -75px;
}
button:hover{
  cursor: pointer;
}
 .eye:hover {
  background:#000 url(./blinking-eye.gif) -35px -75px no-repeat;
  border: 2px solid #000;
}
.eye:hover .flip-out-hor-bottom{
 	-webkit-animation: flip-out-hor-bottom .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: flip-out-hor-bottom .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
button p{
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: underline white solid 2px;
 }
 .linkBtn{
  padding: .8rem 1.25rem;
  width: auto;
  height: auto;
  border-radius: 1.5rem;
  text-decoration: none;
  float: right;
 }
 article{
  border-radius: 2rem;
  border: 2px solid #000;
  width: 80vw;
  margin: 2rem 10vw;
 }
 article header div{
  width: 40%;
 }
 article p,article h3{
  text-align: right;
  margin-bottom: .5rem;
 }
 article header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding-top: 2rem;
 }
 article>div{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 0 4rem 0;
 }
 article img{
  width: 50%;
  height: 50%;
  border: 2px solid black;
 }
 article h3{
  padding-right: 3rem;
 }
 .outro{
  width: 100vw;
  height: 28vh;
  background:#000 url(./Unsplash-NightSky.jpg) center -68px no-repeat;
  background-size: cover;
}
.toTop{
  border-radius: 4rem;
  
}
.creator{
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  
}
.dark-mode {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* ----------------------------------------------
 * Generated by Animista on 2023-8-12 22:14:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* animation 

fade-in-bottom */
.fade-in-bottom {
	-webkit-animation: fade-in-bottom 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 1.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes flip-out-hor-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-70deg);
            transform: rotateX(-70deg);
    opacity: 0;
  }
}
@keyframes flip-out-hor-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-70deg);
            transform: rotateX(-70deg);
    opacity: 0;
  }
}
